/* src/components/start/start.css */
html, body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Tiny5', sans-serif;
  background-color: black;
}


.centric {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./Page.png'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: gold;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.7em;
  /* border: 2px solid goldenrod; */
  padding: 2px;
  /* box-shadow: 0 0 10px goldenrod, 0 0 20px goldenrod, 0 0 30px goldenrod; */
  text-align: center; /* Center the text */
  }
  
  .content {
    margin: 20px;
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background for better text readability */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #E8C072;
    box-shadow: 0 0 10px #E8C072, 0 0 20px #E8C072, 0 0 30px #e0a838;
    border-radius: 8px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
  margin-top: 20px;
}

.jungle-button {
  background-color: #228B22; /* Jungle green color */
  color: white;
  border: 2px solid #006400; /* Dark green border */
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: 'Tiny5', sans-serif;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.jungle-button:hover {
  background-color: #006400; /* Dark green on hover */
  box-shadow: 0 0 10px #228B22, 0 0 20px #228B22; /* Glowing effect */
}

.yes-button {
  background-color: #32CD32; /* Lime green */
  border: 2px solid #228B22; /* Jungle green border */
}

.yes-button:hover {
  background-color: #228B22; /* Jungle green on hover */
  box-shadow: 0 0 10px #32CD32, 0 0 20px #32CD32; /* Lime green glow */
}

.no-button {
  background-color: #B22222; /* Firebrick red */
  border: 2px solid #8B0000; /* Dark red border */
}

.no-button:hover {
  background-color: #8B0000; /* Dark red on hover */
  box-shadow: 0 0 10px #B22222, 0 0 20px #B22222; /* Firebrick red glow */
}
